USE [TasteVinhKhanhDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AudioScripts]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AudioScripts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PoiPointId] [int] NOT NULL,
	[LanguageCode] [nvarchar](10) NOT NULL,
	[TtsScript] [nvarchar](2000) NOT NULL,
	[AudioFileUrl] [nvarchar](500) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AudioScripts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingPOIUpdates]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingPOIUpdates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[PoiPointId] [int] NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[ImagesPayload] [nvarchar](max) NULL,
	[ScriptsPayload] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[AdminNote] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaybackLogs]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaybackLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PoiPointId] [int] NOT NULL,
	[LanguageCode] [nvarchar](10) NOT NULL,
	[PlayedAt] [datetime2](7) NOT NULL,
	[UserLatitude] [float] NOT NULL,
	[UserLongitude] [float] NOT NULL,
	[DistanceMeters] [float] NOT NULL,
	[TriggerType] [nvarchar](50) NOT NULL,
	[AnonymousDeviceId] [nvarchar](100) NOT NULL,
	[IsSynced] [bit] NOT NULL,
 CONSTRAINT [PK_PlaybackLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PoiPoints]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoiPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](500) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[TriggerRadiusMeters] [float] NOT NULL,
	[Priority] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[MapUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IconUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_PoiPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantImages]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PoiPointId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsPrimary] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourStops]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourStops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[PoiPointId] [int] NOT NULL,
	[StopOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TourStops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 4/1/2026 10:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[PoiPointId] [int] NULL,
	[BusinessName] [nvarchar](200) NOT NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[RejectedReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260314093022_Init', N'10.0.0')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a36b1eef-d1fa-48e9-872b-60b270dad5a9', N'Admin', N'ADMIN', N'4bf355d5-2b31-4b64-94a3-73c52c118bb3')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'C605290B-2F39-4933-A84C-70F1F5D5A0AD', N'Vendor', N'VENDOR', N'E20D8F34-A174-4B28-AFAB-E4B7369DCDE6')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'039beee5-8b91-4bea-a5a5-1d30726b10b3', N'a36b1eef-d1fa-48e9-872b-60b270dad5a9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1d8290ab-e64c-4e9b-9527-c343f09e1cef', N'C605290B-2F39-4933-A84C-70F1F5D5A0AD')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2e1ba0d5-976a-4a97-b6ae-489db7488ea0', N'C605290B-2F39-4933-A84C-70F1F5D5A0AD')
GO
SET IDENTITY_INSERT [dbo].[AudioScripts] ON 

INSERT [dbo].[AudioScripts] ([Id], [PoiPointId], [LanguageCode], [TtsScript], [AudioFileUrl], [UpdatedAt]) VALUES (1, 1, N'vi', N'Chào mừng bạn đến với Alo Quán tại 333 đường Vĩnh Khánh. Quán nổi tiếng với không gian rộng rãi và thực đơn phong phú từ hải sản tươi đến các món nướng đặc trưng. Món không thể bỏ qua gồm bò cuộn nấm kim châm mềm mọng, ba chỉ cuộn kim chi cay giòn và các loại hải sản nướng thơm phức. Đây là điểm dừng chân lý tưởng trên phố ẩm thực Vĩnh Khánh.', NULL, CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[AudioScripts] ([Id], [PoiPointId], [LanguageCode], [TtsScript], [AudioFileUrl], [UpdatedAt]) VALUES (2, 1, N'en', N'Welcome to Alo Quán at 333 Vinh Khanh street. This restaurant is famous for its spacious setting and diverse menu ranging from fresh seafood to signature grilled dishes. Must-try dishes include tender beef rolls with enoki mushroom, crispy spicy pork belly kimchi rolls, and fragrant grilled seafood. It is an ideal stop along the Vinh Khanh food street.', NULL, CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[AudioScripts] ([Id], [PoiPointId], [LanguageCode], [TtsScript], [AudioFileUrl], [UpdatedAt]) VALUES (3, 1, N'zh', N'欢迎来到333号荣氏街的Alo馆。这家餐厅以宽敞的空间和丰富的菜单而闻名，从新鲜海鲜到特色烧烤菜肴。必点菜包括嫩滑的牛肉卷金针菇、香脆的辣泡菜五花肉卷和香浓的烤海鲜。是沿荣氏街美食之旅的理想停留点。', NULL, CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AudioScripts] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaybackLogs] ON 

INSERT [dbo].[PlaybackLogs] ([Id], [PoiPointId], [LanguageCode], [PlayedAt], [UserLatitude], [UserLongitude], [DistanceMeters], [TriggerType], [AnonymousDeviceId], [IsSynced]) VALUES (1, 9, N'en', CAST(N'2026-03-30T04:45:52.8960009' AS DateTime2), 37.421998333333335, -122.084, 0, N'manual', N'bb199eb6-6a91-4531-826d-5265e3a08a49', 1)
INSERT [dbo].[PlaybackLogs] ([Id], [PoiPointId], [LanguageCode], [PlayedAt], [UserLatitude], [UserLongitude], [DistanceMeters], [TriggerType], [AnonymousDeviceId], [IsSynced]) VALUES (2, 1, N'zh', CAST(N'2026-03-30T15:52:09.2782272' AS DateTime2), 37.421998333333335, -122.084, 0, N'manual', N'03621380-f628-4c15-8c6e-0a3ad68940a3', 1)
INSERT [dbo].[PlaybackLogs] ([Id], [PoiPointId], [LanguageCode], [PlayedAt], [UserLatitude], [UserLongitude], [DistanceMeters], [TriggerType], [AnonymousDeviceId], [IsSynced]) VALUES (3, 2, N'zh', CAST(N'2026-03-30T15:52:43.4213954' AS DateTime2), 37.421998333333335, -122.084, 0, N'manual', N'03621380-f628-4c15-8c6e-0a3ad68940a3', 1)
SET IDENTITY_INSERT [dbo].[PlaybackLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[PoiPoints] ON 

SET IDENTITY_INSERT [dbo].[PoiPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[RestaurantImages] ON 

INSERT [dbo].[RestaurantImages] ([Id], [PoiPointId], [ImageUrl], [IsPrimary], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'/images/alo_quan_1.jpg', 1, 1, CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RestaurantImages] ([Id], [PoiPointId], [ImageUrl], [IsPrimary], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'/images/alo_quan_2.jpg', 0, 2, CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RestaurantImages] ([Id], [PoiPointId], [ImageUrl], [IsPrimary], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (3, 1, N'/images/alo_quan_3.jpg', 0, 3, CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RestaurantImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([Id], [UserId], [PoiPointId], [BusinessName], [OwnerName], [Phone], [Address], [Status], [RejectedReason], [CreatedAt], [UpdatedAt]) VALUES (2, N'6070a423-4bb6-4628-a6ed-d72988dff3b3', 1, N'Alo Quán', N'Nguyễn Văn A', N'0901234561', N'Đ. Vĩnh Khánh, Phường 8, Quận 4, TP.HCM', N'Approved', NULL, CAST(N'2026-04-01T15:37:40.1230241' AS DateTime2), CAST(N'2026-04-01T15:37:40.1230582' AS DateTime2))
INSERT [dbo].[Vendors] ([Id], [UserId], [PoiPointId], [BusinessName], [OwnerName], [Phone], [Address], [Status], [RejectedReason], [CreatedAt], [UpdatedAt]) VALUES (3, N'2e1ba0d5-976a-4a97-b6ae-489db7488ea0', 2, N'THÈM NƯỚNG YAKINIKU', N'Nguyễn Văn B', N'0901234562', N'Đ. Vĩnh Khánh, Phường 8, Quận 4, TP.HCM', N'Approved', NULL, CAST(N'2026-04-01T15:37:40.3233845' AS DateTime2), CAST(N'2026-04-01T15:37:40.3233850' AS DateTime2))
INSERT [dbo].[Vendors] ([Id], [UserId], [PoiPointId], [BusinessName], [OwnerName], [Phone], [Address], [Status], [RejectedReason], [CreatedAt], [UpdatedAt]) VALUES (4, N'b6fa88b9-cda1-4de6-a256-fa4d54caedf2', 3, N'Chilli Lẩu Nướng Quán', N'Nguyễn Văn C', N'0901234563', N'Đ. Vĩnh Khánh, Phường 8, Quận 4, TP.HCM', N'Approved', NULL, CAST(N'2026-04-01T15:37:40.4194411' AS DateTime2), CAST(N'2026-04-01T15:37:40.4194412' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
/****** Object:  Index [UQ_TourStops_Tour_Poi]    Script Date: 4/1/2026 10:44:55 PM ******/
ALTER TABLE [dbo].[TourStops] ADD  CONSTRAINT [UQ_TourStops_Tour_Poi] UNIQUE NONCLUSTERED 
(
	[TourId] ASC,
	[PoiPointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PendingPOIUpdates] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PendingPOIUpdates] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RestaurantImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[RestaurantImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[RestaurantImages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RestaurantImages] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourStops] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendors] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AudioScripts]  WITH CHECK ADD  CONSTRAINT [FK_AudioScripts_PoiPoints_PoiPointId] FOREIGN KEY([PoiPointId])
REFERENCES [dbo].[PoiPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AudioScripts] CHECK CONSTRAINT [FK_AudioScripts_PoiPoints_PoiPointId]
GO
ALTER TABLE [dbo].[PendingPOIUpdates]  WITH CHECK ADD  CONSTRAINT [FK_PendingPOIUpdates_Vendors] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PendingPOIUpdates] CHECK CONSTRAINT [FK_PendingPOIUpdates_Vendors]
GO
ALTER TABLE [dbo].[PlaybackLogs]  WITH CHECK ADD  CONSTRAINT [FK_PlaybackLogs_PoiPoints_PoiPointId] FOREIGN KEY([PoiPointId])
REFERENCES [dbo].[PoiPoints] ([Id])
GO
ALTER TABLE [dbo].[PlaybackLogs] CHECK CONSTRAINT [FK_PlaybackLogs_PoiPoints_PoiPointId]
GO
ALTER TABLE [dbo].[RestaurantImages]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantImages_PoiPoints] FOREIGN KEY([PoiPointId])
REFERENCES [dbo].[PoiPoints] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RestaurantImages] CHECK CONSTRAINT [FK_RestaurantImages_PoiPoints]
GO
ALTER TABLE [dbo].[TourStops]  WITH CHECK ADD  CONSTRAINT [FK_TourStops_PoiPoints] FOREIGN KEY([PoiPointId])
REFERENCES [dbo].[PoiPoints] ([Id])
GO
ALTER TABLE [dbo].[TourStops] CHECK CONSTRAINT [FK_TourStops_PoiPoints]
GO
ALTER TABLE [dbo].[TourStops]  WITH CHECK ADD  CONSTRAINT [FK_TourStops_Tours] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TourStops] CHECK CONSTRAINT [FK_TourStops_Tours]
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD  CONSTRAINT [FK_Vendors_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_Vendors_AspNetUsers]
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD  CONSTRAINT [FK_Vendors_PoiPoints] FOREIGN KEY([PoiPointId])
REFERENCES [dbo].[PoiPoints] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_Vendors_PoiPoints]
GO
ALTER TABLE [dbo].[PendingPOIUpdates]  WITH CHECK ADD  CONSTRAINT [CK_PendingPOIUpdates_Status] CHECK  (([Status]=N'Rejected' OR [Status]=N'Approved' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[PendingPOIUpdates] CHECK CONSTRAINT [CK_PendingPOIUpdates_Status]
GO
ALTER TABLE [dbo].[Vendors]  WITH CHECK ADD  CONSTRAINT [CK_Vendors_Status] CHECK  (([Status]=N'Rejected' OR [Status]=N'Approved' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [CK_Vendors_Status]
GO
